<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DesktopSbS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DesktopSbS.Properties.Settings>
            <setting name="HideAboutOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModeSbS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParallaxEffect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScreenSrcId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScreenScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaSrcOrigin" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AreaSrcSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ScreenDestId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HideDestCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckUpdateAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </DesktopSbS.Properties.Settings>
    </userSettings>
</configuration>
